 <ng-container *ngIf="info">
  <ng-container *ifRight="info; else left; let v">
    <ng-container *ngFor="let tableData of v | keyvalue">
      <span>{{ tableData.key }}</span>: <span>{{tableData.value | json }}</span><br/>
    </ng-container>
  </ng-container>

  <ng-template #left let-v>
    <span [title]="v.userFriendlyError">API Info was not loaded</span>
  </ng-template>
 </ng-container>


<div>UI build SHA: {{buildInfo.commit}}</div>
<div>UI build date: {{buildInfo.time}}</div>

<button (click)="crash()">Touch me</button>