<div class="register-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Just register</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User" formControlName="Name" required>
          <mat-error *ngIf="isFieldInvalid('Name')">
            Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="Password" required>
          <mat-error *ngIf="isFieldInvalid('Password')">
            Password is required
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
