<mat-toolbar color="primary">
  <span>
    <img src="assets/angular.svg" class="angular-logo">
    Fair CV
  </span>
  <span class="fill-remaining-space"></span>
  <div class="nav-link" routerLinkActive="active" *ngFor='let menuItem of activeNavBars'>
    <a [routerLink]="'/' + menuItem.path">{{menuItem.name}}</a>
  </div>
  <button [helipopper]="about" helipopperVariation="popper">
    About UI
  </button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
