/* tslint:disable */
import { Injectable } from '@angular/core';
import { HttpClient, HttpResponse } from '@angular/common/http';
import { {{baseServiceClass}} } from '../{{baseServiceFile}}';
import { {{configurationClass}} } from '../{{configurationFile}}';
import { {{responseClass}} } from '../{{responseFile}}';
import { {{requestBuilderClass}} } from '../{{requestBuilderFile}}';
import { Observable } from 'rxjs';
import { map, filter } from 'rxjs/operators';
import { eitherify } from '../../domain/functions';
import { ServerError } from '../../domain/errors';
import { Either } from 'fp-ts/Either';


{{#imports}}import { {{{typeName}}}{{#useAlias}} as {{{qualifiedName}}}{{/useAlias}} } from '{{{file}}}';
{{/imports}}

{{{tsComments}}}@Injectable({
  providedIn: 'root',
})
export class {{typeName}} extends {{baseServiceClass}} {
  constructor(
    config: {{configurationClass}},
    http: HttpClient
  ) {
    super(config, http);
  }

{{#operations}}
{{>operationPath}}
{{#variants}}{{>operationResponse}}{{>operationBody}}{{/variants}}
{{/operations}}
}