<ng-container *ngIf="{loading: loading$ | async, data: data$ | async} as page">
  <ng-container *ngIf="page.loading; else loaded">
    <mat-spinner></mat-spinner>
  </ng-container>

  <ng-template #loaded>
    <mat-toolbar>
      <button mat-button (click)="inputFile.click()">
        <mat-icon>add</mat-icon>Import file
      </button>
      <input #inputFile type="file" [style.display]="'none'" (change)="upload($event.target)">
    </mat-toolbar>
    <ng-container *ifRight="page.data, else left, let v">
      <div>{{v.length}} items loaded.</div>
      <ng-container *ngFor="let eDoc of v">
          <my-doc-item *ifRight="eDoc, else parseFailed, let d" [doc]="d" (remove)="removeDocument(d)" (download)="downloadDocument(d)">
          </my-doc-item>
      </ng-container>

      <ng-template #parseFailed let-d>
        Parsing failed - {{d | json}}
      </ng-template>
    </ng-container>

    <ng-template #left let-v>
      Loading failed - {{v | json}}
    </ng-template>  
  </ng-template>
</ng-container>